<!DOCTYPE html>
<head>
  <title>Simple Chat App with Open AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chat-emoji.png') }}"
  />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="grid grid-rows-10 items-center justify-center min-h-screen">
<div class="row-span-2 grid grid-rows-2 justify-evenly items-center">
    <div class="flex flex-row justify-center">
        <svg class="w-16 h-16 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
        </svg>
    </div>
  <h3 class="flex-auto font-sans text-2xl text-pink-400/75 font-bold">Simple Chatting with Open AI!</h3>
</div>
      <div class="border-4 border-stone-200 divide-y-4 divide-slate-400/25 rounded-sm p-4 row-span-6 flex flex-col justify-start overflow-auto bg-rose-200/30 min-w-fit max-w-2xl min-h-full">
      {% for dialog in conversation %}
        <div class="p-2 font-serif even:self-end">{{ dialog }}</div>
      {% endfor %}
      </div>
  <form
          action="/"
          method="post"
          class="row-span-2 grid grid-rows-2 justify-evenly items-center gap-4"
  >
    <input class="p-2 rounded-md outline outline-4 outline-cyan-500 focus:caret-blue-500 shadow-inner" type="text" name="user_dialog" placeholder="Say Anything!" required />
    <input class="cursor-pointer bg-cyan-500 shadow-md shadow-cyan-500/50 p-4 rounded-md " type="submit" value="Send message to Chatbot" />
  </form>
</div>
</body>
